body{
     font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
   text-align: center;
    padding: 20px;
    background-color: #b1a992;
    font-size: 22px;
}

.container{
    background-color: rgb(221, 216, 210);
}

.section-line {
    border: none;
    border-top: 2px solid #000;
    margin: 60px 0;
}

.personiba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px;
    
}

.personiba-content {
    max-width: 550px;
    text-align: left;
}

.personiba-content h2 {

    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
}

.personiba-content p {
    font-size: 22px;
    line-height: 1.6;
}

.personiba-image img {
    width: 450px;
   
}


.hobiji-attels {
    padding: 15px;
    height: 100%;                 
    flex-direction: column;
    justify-content: space-between;
}

.hobiji-attels img {
    width: 100%;
    height: 300px;               
}

.carousel-inner img {
    max-height: 900px;   
    object-fit: cover;  
    width: 100%;
    
}



.volejbols-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

.volejbols-image {
    display: flex;
    justify-content: flex-start;
}

.volejbols-image img {
    width: 450px;
   height: 500px;
   
}

.volejbols-content {

    max-width: 550px;
    text-align: left; 
}

.volejbols-content h2 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
}

.volejbols-content p {
    font-size: 22px;
    line-height: 1.6;
}


.celosana-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

.celosana-content {

    max-width: 550px;
    text-align: left; 
}

.celosana-content h2 {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
}

.celosana-content p {
    font-size: 22px;
    line-height: 1.6;
}

.celosana-image {
    display: flex;
    justify-content: flex-end; 
}
.celosana-image img {
    width: 450px;
    height: 500px;
}


.insta {
    width: 35px;
    height: 35px;
    cursor: pointer;
   
   
}

.facebook{
    width: 35px;
    height: 35px;
    cursor: pointer;
   
  

}